connectionInfo = {'host'      :"localhost",
                  'user'      :"databaseUser",
                  'passwd'    :"databasePassword",
                  'db'        :"databaseName"
                  }
